:root {
    --calcBody: rgb(82, 82, 82);
    --calcDisplay: rgb(173, 173, 173);
    --calcFrame: rgb(82, 82, 82);
		--operations: rgb(20, 196, 196);
		--numerical: rgb(17, 145, 145);
		--equals: rgb(0, 255, 255);
    --backColor : rgb(180, 57, 241);

}
body{
  background-color: var(--backColor);
}
.cBody {  
  color:black;
  font-family:cursive;
  width: min-content;
  height: min-content;
  background-color: var(--calcBody);
  border-radius: 4vmin;
  border:solid black .5vmin;
  padding: 2.5vmin 2.5vmax;
} 

.separator {
  display: inline-grid;
  grid-template-columns: auto auto;
}

.cDisplay {
    width: 65vmax;
    height: 27.5vmin;
    background-color: var(--calcDisplay);
    border-radius: 5vmin;
    font-size: 13.75vmin;
    line-height:13.75vmin;
    border:solid black .5vmin;
}

.cFrame {
    display: inline-grid;
		padding: 1vmin;
    grid-template-columns: auto auto auto auto;
    background-color: var(--calcFrame);
		justify-items: center;
}

.clear,
.button {
    height: 7vh;
    width: 10vmin;
		margin: 0.8em 2em;
		line-height: 7vh;
		background-color: var(--operations);
		border-radius: 3vmin;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
		font-size: 2.5vmin;
		align-items: center;
}

.clear {
  background-color: rgb(220, 50, 50);
    height: 7vh;
    width: 12vmin;
    line-height: 7vh;
}

.clear:hover,
.button:hover {
	color: aliceblue;
	scale: 1.1;
}
.number {
	background-color: var(--numerical);
}

.equals {
	background-color: var(--equals);
}
